.TextBuslineArriveItem{
    color: #333 !important;
    font-weight: bold;
    margin-top: 40px;
}

.TextBuslineItem{
    color: #333333;
    font-weight: bold;
}


.BusLineFavorite{
    color: #E8A2A2;
    cursor: pointer;
}

.BusLineButtonChoose{
    text-align: right;
    color: #E2001A;
    text-decoration: underline;
    cursor: pointer;
}

.ArriveText{
    font-size: 13px;
    color: #999;
}

.ArriveTime{
    font-size: 13px;
    color: #E2001A;
}